@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito';
    font-weight: 700;
}
.accordion-button {
    background-color: #0B0A48;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.accordion-button:not(.collapsed) {
    background-color: #F071C0;
}

.accordion-button:focus {
    border-color: #1FFED0;
    box-shadow: 0 0 0 0.35rem rgba(31, 254, 208, 0.25);
}

.accordion-body {
    background-color: #8584FF;
}

.list-group-item {
    border-color: transparent;
    background-color: transparent;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #1FFED0;
    text-align: center;
}

.navbar {
    background-color: #F071C0;
}

.link-texto {
    font-weight: 700;
}

.btn {
    background-color: #1FFED0;
    color: #0B0A48;
    font-weight: 700;
}

.btn:hover {
    background-color: #0B0A48;
    color: #1FFED0;
}

.bg-verde {
    background-color: #8584FF;
}

.fundo-titulo-trilha{
    background-color: #0B0A48;
    color: white;
}
.fundo-card-trilha {
    max-width: 100%;
    width: 400px;
    background-color: #8584FF;
}

.activo {
    background-color: #0B0A48;
    color:#1FFED0;
}
.activo:hover {
    background-color: #0B0A48;
    color: #1FFED0;
}

.card-diurno {
    background-color: #F071C0;
    width: 350px;
    height: 350px;
    max-width: 100%;
    border: 5px solid;
    border-color: #0B0A48;
    border-radius: 12px;
}

.card-diurno > .sol-diurno {
    margin-top:2rem;
    margin-left: 2rem;
}

.card-diurno > .bloco-diurno {
    margin-top: -25px;
}

.card-obritagoria {
    background-color: #8584FF;
    border: 4px solid #0B0A48;
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.box-form > p {
    background-color: #F5F5F6;
    padding: 1rem 1.25rem;
    width: 200px;
    height: 80px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-obritagoria > form > p > input{
    background-color: #8584FF;
}

label {
    display: inline;
}

.card-eletiva {
    background-color: #8584FF;
    border: 4px solid #0B0A48;
    width: 860px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.card-eletiva > form > p {
    background-color: #F5F5F6;
    padding: 1rem 1.25rem;
    width: 200px;
    height: 80px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-eletiva > form > p > input{
    background-color: #8584FF;
}

.card-optativa {
    background-color: #8584FF;
    border: 4px solid #0B0A48;
    width: 960px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.card-optativa > form > p {
    background-color: #F5F5F6;
    padding: 1rem 1.25rem;
    width: 220px;
    height: 110px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-optativa > form > p > input{
    background-color: #8584FF;
}